<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./fen.css">
    <title>2.Ünite Fen Bilimleri</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <p class="paragraph">
                <h1 class="title">Besinler</h1>
                <h3 class="subTitle">Besinlerin Gerekliliği</h3>
                <img class="subImg" src="../image/4-sinif-neden-besleniriz.jpg" alt="4-sinif-neden-besleniriz"> Otomobilimizle bir yerden başka bir yere gidebilmek için deposuna yakıt koymamız, tekerleklerine hava basmamız, motoruna yağ ilave etmemiz,
                soğutma sistemine su eklememiz gerekir. Bunlardan biri veya bir kaçı eksikse otomobil çalışmaz. Otomobilin bizi yolda bırakmaması için yakıt, hava, yağ ve suyunun bitmemesi gerekir.
                <br> <br> Canlıların da yaşamlarını devam ettirebilmeleri için beslenmeleri şarttır. Canlılar, besinlerle birlikte vücutları için gerekli olan yapıcı, onarıcı, düzenleyici ve enerji verici maddeleri alırlar. Canlıların hayati faaliyetlerini
                devam ettirebilmeleri için tüm besin çeşitlerine ihtiyaçları vardır. <br>
                <img class="subImg" src="../image/besleyici-onarici-besinler.jpg" alt="besleyici-onarici-besinler"> Büyüme çağında olan çocukların vücutlarının gelişip boylarının uzaması için, insanların saç ve tırnaklarının uzaması için, kırılan kemiklerimizin
                iyileşmesi için yapıcı ve onarıcı özellik taşıyan besinleri tüketmemiz gerekir. <br> <br>
                <img class="subImg" src="../image/enerji-verici-besinler.jpg" alt="enerji-verici-besinler">
                <span class="descİmgSpn">Gün boyunca enerji harcarız.</span> Gün boyu hareket eder; koşar, atlar zıplarız. Bunlar için enerjiye ihtiyaç duyarız. Bu enerjiyi de besinlerden elde ederiz.
                <br> Zaman zaman hasta olup yataklara düşeriz. Vücudumuzun hızla iyileşmesi için çeşitli besinler tüketmemiz gerekir. Dengeli beslenen insanlar kolay hastalanmazlar. Hastalansalar bile kolayca iyileşirler.
                <br> Ayrıca vücudumuzun düzenli bir şekilde çalışabilmesi için <span class="bold">düzenleyici besinler</span> de tüketmeliyiz.
                <img class="subImg" src="../image/beslenme.jpg" alt="beslenme">
                <span class="descİmgSpn">Beslenmezsek yaşayamayız.</span> Görüldüğü gibi dengeli beslenme ile sağlık arasında önemli bir ilişki vardır. Tüm canlıların hayatî fonksiyonlarını yerine getirebilmesi için dengeli beslenmesi gerekir.
            </p>
            <br>
            <hr>
            <p class="paragraph">
                <h1 class="title">Besin İçerikleri Ve Görevleri</h1>
                Gün boyunca tükettiğimiz besinlerin bazılarını bitkilerden, bazılarını hayvanlardan elde ederiz. Bitkilerden elde ettiğimiz besinlere <span class="bold">bitkisel besinler</span>, hayvanlardan elde ettiğimiz besinlere ise <span class="bold">hayvansal besinler </span>adı
                verilir. <br> <br>
                <img class="subImg" src="../image/bitkisel-hayvansal-besinler.jpg" alt="bitkisel-hayvansal-besinler"> Besinlerin içinde vücudumuz için gerekli olan maddeler vardır. Bu maddelere besin içerikleri denir. Besin içeriklerinin vücudumuzda belirli
                görevleri vardır. <span class="bold">Karbonhidratlar, yağlar, proteinler, vitaminler, mineraller ve su</span> olmak üzere altı çeşit besin içeriği vardır. <br>
                <h4 class="subTitle">Besin Grupları</h4>
                <table class="table">
                    <tr>
                        <th>Enerji Verici Besinler</th>
                        <th>Yapıcı-Onarıcı Besinler</th>
                        <th>Düzenleyici Besinler</th>
                    </tr>
                    <tr>
                        <td>Karbonhidratlar</td>
                        <td>Proteinler</td>
                        <td>Vitaminler</td>
                    </tr>
                    <tr>
                        <td>Yağlar</td>
                        <td></td>
                        <td>Mineraller</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Su</td>
                    </tr>
                </table><br> Karbonhidrat ve yağlar enerji verici, proteinler yapıcı ve onarıcı, vitaminler, mineraller ve su da düzenleyici besin grubunda yer alır.
                <br> Besinlerde birden fazla içerik bulunabilir. Besin, içinde fazla olan içerik ile isimlendirilir. Örneğin ette protein dışında yağ, vitamin gibi diğer besin içerikleri de bulunur. Ancak protein miktarı diğer içeriklere göre daha fazla
                olduğundan “Et protein içerir.” denir. <br> <br>
                <h3 class="subTitle">Karbonhidrat</h3>
                <img class="subImg" src="../image/karbonhidratlar.jpg" alt="karbonhidratlar">
                <span class="descİmgSpn">Karbonhidratlar Bakımından Zengin Besinler</span>
                <h4 class="bold">Karbonhidratların Görevleri</h4>
                Günlük yaşamımızda koşarız, zıplarız, hoplarız, yürürüz, otururuz, kalkarız… Tüm bunları yapmak için enerjiye ihtiyaç duyarız. Enerji denince akla gelen ilk besin grubu karbonhidratlardır. Karbonhidratlar, vücudumuzun ihtiyacı olan enerjiyi sağlar. Ayrıca
                beynimizin kullandığı tek enerji kaynağıdır. <br>
                <h4 class="bold">Karbonhidratlar Bakımından Zengin Besinler</h4>
                Makarna, ekmek, pirinç, bulgur gibi tahıl ürünleri ile patates, kuru yemiş, pekmez, reçel ve balda bol miktarda karbonhidrat bulunur. <br>
                <h3 class="subTitle">Yağlar</h3>
                <img class="subImg" src="../image/yaglar.jpg" alt="yaglar">
                <span class="descİmgSpn">Yağlar Bakımından Zengin Besinler</span>
                <h3 class="bold">Yağların Görevleri</h3>
                Enerji veren bir başka besin içeriği de yağlardır. Yağlar, karbonhidratlardan daha fazla enerji veren besin içerikleridir.
                <br>İhtiyaç duyulan enerjinin karbonhidratlardan karşılanamadığı durumlarda yağlar kullanılır. Uzun süre aç kaldığımızda karbonhidratlardaki enerji yetersiz kalır. Bu durumda enerji ihtiyacımızı yağlardan sağlarız. Yağlar deri altına depo
                edilerek vücudu darbeleri karşı korumakla da görevlidir. Ayrıca yağların, canlıları soğuktan koruma özelliği vardır. Ancak vücuda fazla alındıklarında ise depo edilerek kilo almamıza neden olurlar.
                <h3 class="bold">Yağlar Bakımından Zengin Besinler</h3>
                Tereyağı, kuyruk yağı gibi hayvansal besinler ile ayçiçeği, fındık, ceviz, kabak çekirdeği, zeytin, mısır, susam, soya, kanola gibi bitkisel besinlerde bol miktarda yağ bulunurlar. <br>
                <h3 class="subTitle">Proteinler</h3>
                <img class="subImg" src="../image/proteinler.jpg" alt="proteinler">
                <span class="descİmgSpn">Protein Bakımından Zengin Besinler</span>
                <h3 class="bold">Proteinlerin Görevleri</h3>
                Vücudumuzda yapıcı ve onarıcı görev yapan besinler, proteinlerdir. Proteinler büyümeyi, gelişmeyi ve yıpranan dokuların onarımını sağlar. Ayrıca vücudumuzun mikroplara karşı dirençli olmasında, zekâ ve kas gelişiminde, saç ve tırnakların uzamasında proteinler
                görevlidir. <br>
                <h3 class="bold">Proteinler Bakımından Zengin Besinler</h3>
                Et, yumurta, balık, süt ve süt ürünleri gibi hayvansal besinlerde; nohut, mercimek, fasulye gibi bitkisel besinlerde bol miktarda bulunurlar. <br>
                <h3 class="subTitle">Vitaminler</h3>
                <img class="subImg" src="../image/vitaminler.jpg" alt="vitaminler">
                <span class="descİmgSpn">Vitaminler Bakımından Zengin Besinler</span>
                <h3 class="bold">Vitaminlerin Görevleri</h3>
                Vitaminler, vücudumuzda düzenleyici olarak görev yapar. Organlarımızın düzenli çalışmasını sağlar. Vitaminler vücudumuzun direncini artırarak bizi hastalıklara karşı korur. <br>
                <h3 class="bold">Vitaminler Bakımından Zengin Besinler</h3>
                Sebze ve meyvelerde bol miktarda vitamin bulunur. <br> <br>
                <h3 class="subTitle">Mineraller</h3>
                <img class="subImg" src="../image/mineraller-bakimindan-zengin-besinler.jpg" alt="mineraller-bakimindan-zengin-besinler" style="height:300px ; width:700px;">
                <span class="descİmgSpn">Mineraller Bakımından Zengin Besinler</span>
                <h3 class="bold">Minerallerin Görevleri</h3>
                Düzenleyici besin içeriklerinden biri de minerallerdir. Kemiklerimizin, dişlerimizin, kaslarımızın ve organlarımızın düzenli çalışması için minerallere ihtiyacımız vardır. <br>
                <h3 class="bold">Mineraller Bakımından Zengin Besinler</h3>
                Demir, kalsiyum, çinko, potasyum gibi minerallerin her biri tüm besinlerde bulunur. Su, maden suyu ve balık mineral bakımından zengindir. <br> <br>
                <h3 class="subTitle">Su</h3>
                <img class="subImg" src="../image/su.jpg" alt="su"><br> Su vücudumuzda düzenleyici olarak görev yapar. Vücut sıcaklığının korunması, atık maddelerin vücuttan uzaklaştırılması su sayesinde gerçekleşen olaylardandır. <br>
                <h3 class="bold">Su ve Mineraller Bütün Besinlerde Bulunur</h3>
                Vücudumuzun her gün suya ihtiyacı vardır. Su ihtiyacımızı yiyecek ve içeceklerden karşılarız. Tüm yiyeceklerin içinde su bulunur. Karpuz yediğimizde tabakta su biriktiğini görürüz. Susuz gibi görünen havucu katı meyve sıkacağı ile sıktığımızda su elde
                ederiz. Hatta nohut, kuru fasulye vb. kuru gıdalar bile içlerinde su barındırır. <br>
                <img class="subImg" src="../image/butun-besinlerde-su-vardir.jpg" alt="butun-besinlerde-su-vardir">
                <span class="descİmgSpn">Su ve Mineraller Bütün Besinlerde Bulunur.</span> Mineraller de su gibi bütün besinlerde bulunur. Kayaçlardaki tuzlar; yağmur, rüzgâr, sıcaklık farkı vb. çevresel faktörlerin etkisiyle ufalanarak toprağa karışır.
                Topraktaki bu mineraller bitkilere geçer. Bitkilerle beslenen hayvanlar da bu mineralleri vücutlarına almış olurlar. <br> <br>
            </p>

            <hr>
            <p class="paragraph">
                <h1 class="title">Sağlıklı Yaşam</h1>
                Sağlıklı bir yaşam için tükettiğimiz besinlerin taze ve doğal olması gerekir. <br>
                <img class="subImg" src="../image/taze-besinler.jpg" alt="taze-besinler">
                <span class="descİmgSpn">Satın aldığımız ürünlerin taze olmasına dikkat etmeliyiz.</span> Pazarda satılan ürünlerin üzerinde son kullanma tarihi bulunmaz. Onun için satın aldığımız ürünlerin taze olmasına dikkat etmeliyiz. Taze besinler,
                vitamin ve mineral bakımından zengindir. Tazeliğini kaybetmiş, uzun süre dışarıda beklemiş, çürümeye başlamış ve bozulmuş besinleri tüketmek sağlığımıza zarar verir. Bu durum zehirlenmelere neden olabilir. <br>
                <h3 class="subTitle">Doğal Besinler</h3>
                <img class="subImg" src="../image/dogal-besinler.jpg" alt="dogal-besinler">
                <span class="descİmgSpn">Seçtiğimiz besinlerin doğal olmasına dikkat etmeliyiz.</span> Uzun süre saklanması gereken besinlerin içerisine bazı katkı maddeleri konmaktadır. Uzun süreli saklama ve güvenli taşıma amacıyla kullanılan katkı
                maddelerinin yararlı olanları olduğu gibi zararlı olanları da vardır. Katkı maddelerinden bazıları besinlerin tatlarında değişikliğe neden olmaktadır.
                <br> <br> Seçtiğimiz besinlerin doğal olmasına, içerisinde katkı maddesi bulunmamasına veya çok az katkı maddesi bulunmasına dikkat etmeliyiz. Katkı maddeleri genel olarak sağlığa olumsuz etki yapar.
                <h3 class="subTitle">Dondurulmuş Besinler</h3>
                <img class="subImg" src="../image/dondurulmus-gidalar.jpg" alt="dondurulmus-gidalar"><br> Bazı besinler, uzun süre saklanması için dondurulur. Bezelye ve pizza gibi besinler dondurulmuş olarak da satılan besinlerdendir. Donu çözünmüş veya
                paketi yırtık olan dondurulmuş besinleri almamalıyız. Dondurulmuş besinlerin donu çözündükten sonra bu besinleri kısa sürede tüketmeliyiz.
                <br> Bazı besinler bozulmadan uzun süre saklamak için paketlenir. Paketlenerek satılan besinlere süt, meyve suyu, ayran, peynir, yoğurt örnek olarak verilebilir. Bu besinleri alırken paketlerinin yırtık olmamasına dikkat etmeliyiz. Ayrıca
                paketlenmiş bir besini alırken son kullanma tarihine bakmalıyız. Son kullanma tarihi besinlerin bozulmadan tüketilebileceği en son tarihtir.
                <h3 class="subTitle">Türk Standartları Enstitüsü Damgası</h3>
                <img class="subImg" src="../image/tse-damgasi-son-kullanma-tarihi.jpg" alt="tse-damgasi-son-kullanma-tarihi">
                <span class="descİmgSpn">Satın aldığımız ürünlerin son kullanma tarihine ve TSE damgası dikkat etmeliyiz.</span> Paketlenmiş besinleri alırken dikkat etmemiz gereken bir başka konu da paketlerin üzerinde TSE damgasının olup olmadığıdır.
                Bu damga, paketlenen besinin kalite standartlarına uygun olarak üretilip paketlendiğini gösterir. <br>
                <h3 class="subTitle">Temiz Besinler</h3>
                Besinlerin temiz olarak tüketilmesi de önemlidir. Sebze ve meyveleri iyice yıkadıktan sonra tüketmeliyiz. Yıkamamızı gerektiren en önemli sebeplerden biri, zirai ilaç kalıntılarının meyve ve sebzeler üzerinden arındırılmasıdır. Yıkamadan tükettiğimiz
                besinlerin sağlığımızı bozabileceğini unutmamalıyız. <br> <br>
                <h3 class="bold">Besinleri Satın Alırken Nelere Dikkat Etmeliyiz?</h3>
                <ul class="ul">
                    <li>Aldığımız ürünün üzerinde TSE damgası olmalıdır.</li>
                    <li>Besinlerin ambalajı hasar görmemiş olmalıdır.</li>
                    <li>Üretim ve son kullanma tarihi olmalıdır.</li>
                    <li>Gıda Tarım Hayvancılık Bakanlığı tarafından verilen onay numarası olmalıdır.</li>
                    <li>Mevsimine uygun sebze ve meyveler tercih edilmelidir. Kuru baklagiller satın alınırken küflü olmamasına özen gösterilmelidir. Çatlak yumurtalar satın alınmamalıdır.</li>
                    <li>Dondurulmuş besinler alışverişin sonunda satın alınmalıdır. Bu tür besinler en kısa zamanda dondurucuya yerleştirilmelidir</li>
                    <li>Satın alınan gıdalar temizlenmeden tüketilmemelidir.</li>
                </ul>
            </p>
            <p class="not">Bu ünitemizde Besinler,Besin İçerikleri Ve Görevleri,Sağlıklı Yaşam konusunu detaylı bir şekilde öğrendik artık <span class="bold" style="color: black;">3.Üniteye</span> geçebiliriz.</p>
            <div class="btn">
                <b class="btn" style="text-align: center;"><a href="../components/fenUnit1.html">1.üniteye dönmek için tıklayınız.</a></b>
                <b class="btn" style="text-align: center; display: flex; align-items: center; justify-content: flex-end; "><a href="../components/fenUnit3.html">3.üniteye geçmek için tıklayınız.</a></b>
            </div>
        </div>
        <a id='yukari_buton'><span class="material-symbols-outlined">
            arrow_upward
            </span></a>
    </div>
    </div>
    <script src="math1.js"></script>
</body>

</html>