<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./fen.css">
    <title>1.Ünite Fen Bilimleri</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Kayaçlar</h1>
            <p class="paragraph">
                Canlılar, Dünya’nın dış katmanında yani yer kabuğunda yaşarlar. Yer kabuğunda dağlar, tepeler, ovalar, vadiler, yaylalar gibi yeryüzü şekilleri bulunur.
                <h3 class="subTitle">Kayaçlar Nedir?</h3>
                <img class="subImg" src="../image/kayaclarin-olusumu.jpg" alt="kayaclarin-olusumu">
                <span class="descİmgSpn">Kayaçların Oluşumu</span>
                <h3 class="subTitle">Kayaçlar nasıl oluşur?</h3>
                Manto katmanında bulunan magmanın yeryüzüne ulaşarak soğuyup katılaşmasıyla kayaçlar oluşur. Kayaçlar, yer kabuğunun kara tabakasını oluşturur.
                <br> <br> Yer kabuğundaki kayaçlar değişik amaçlarla kullanılır. Örneğin kum ve taş bina yapımında kullanılır. Mermer, inşaatlarda ve heykel yapımında kullanılır. Granit, zemin ve duvar yapımında kullanılır.
                <br> <br>
                <img class="subImg" src="../image/kayaclar.jpg" alt="kayaclar">
                <span class="descİmgSpn ">Çeşitli Kayaç Örnekleri</span>
                <h3 class="subTitle">Mineral Nedir?</h3>
                Kayaçların birbirinden farklı özellikte olmasını sağlayan ve yapılarını oluşturan maddelere mineral adı verilir. Mineraller doğal yollarla oluşan belli özelliklere sahip katı maddelerdir.
                <br> <br> Örneğin Pamukkale Travertenleri’nin beyaz renkte ve yumuşak bir yapıda olması bu mineraller sayesindedir. <br>
                <img class="subImg" src="../image/kaya-tas-cakil-kum.jpg" alt="kaya-tas-cakil-kum"> Kayalar rüzgâr, sıcaklık farkı, yağmur ve akarsu gibi dış faktörlerle parçalanır. Bunun sonucunda kayalar, çakıl, taş ve kum taneciklerine dönüşür.
            </p>
            <br>
            <hr>
            <p class="paragraph">
                <h1 class="title">Madenler</h1>
                Yer kabuğunda bulunan bazı kayaçların ekonomik değeri çok yüksektir. Örneğin altın ekonomik değeri yüksek bir kayaçtır.
                <h3 class="subTitle">Maden Nedir?</h3>
                Yer kabuğunun derinliklerinde, çeşitli doğal etkenlerle oluşan ve ekonomik değeri olan kayaçlara maden adı verilir.
                <img class="subImg" src="../image/madenlerin-islenmesi.jpg" alt="madenlerin-islenmesi"> Bu kayaçları yeryüzüne çıkarabilmek için maden ocakları açılır. Maden ocaklarında taş ve toprakla karışık olarak çıkarılan madenler, ekonomik değeri
                olmayan taş ve topraktan arındırılır. Daha sonra bu madenler teknoloji ve sanayide ayrıca birçok eşyanın yapımında ham madde olarak kullanılır.
                <br> <br> Ülkemizde çıkarılan önemli madenlere bor, altın, bakır, gümüş, mermer, linyit, taş kömürü, krom, demir ve cıva gibi madenler örnek verilebilir. Şimdi bu madenlerin kullanım alanlarını inceleyelim.
                <h3 class="subTitle">Madenlerin Kullanım Alanları</h3>
                <h4 class="bold">Altın</h4>
                <img class="subImg" src="../image/altin-kullanim-alanlari.jpg" alt="altin-kullanim-alanlari">
                <span class="descİmgSpn">Altın Madeni ve Kullanım Alanları</span> Altın, tarih boyunca insanoğlu için değerli bir maden olmuştur. Kuyumculukta, elektrik-elektronikte, diş hekimliğinde, süslemede, madalya yapımında, resmi paralarda kullanılan
                madendir. <br><br>
                <h4 class="bold">Bor</h4>
                <img class="subImg" src="../image/bor-madeni-kullanildigi-alanlar.jpg" alt="bor-madeni-kullanildigi-alanlar">
                <span class="descİmgSpn">Bor Madeni ve Kullanım Alanları</span> Tekstil, tarım, cam, seramik sanayisinde, bazı temizlik ürünlerinin yapımında ve uçak yakıtlarında kullanılan madendir. Ülkemizdeki bor madeni, dünyadaki toplam bor madeninin
                yaklaşık %72’sini oluşturmaktadır. <br> <br>
                <h4>Demir</h4>
                <img class="subImg" src="../image/demir-madeni-kullanim-alanlari.jpg" alt="demir-madeni-kullanildigi-alanlar">
                <span class="descİmgSpn">Demir Madeni ve Kullanım Alanları</span> Otomobil yapımında, inşaatlarda, tren rayı ve köprü yapımında, bilgisayarların önemli bir parçası olan manyetik depolama alanlarının yapımında kullanılan madendir.<br> <br>
                <h4>Bakır</h4>
                <img class="subImg" src="../image/bakir-madeni-kullanim-alanlari.jpg" alt="bakır-madeni-kullanildigi-alanlar">
                <span class="descİmgSpn">Bakır Madeni ve Kullanım Alanları</span> Elektrik-elektronikte, inşaatlarda, ulaşımda, kuyumculukta, boya üretiminde, turistik eşya ve mutfak eşyası yapımında kullanılan madendir.<br> <br>
                <h4 class="bold">Mermer</h4>
                <img class="subImg" src="../image/mermer-madeni-kullanim-alanlari.jpg" alt="mermer-madeni-kullanildigi-alanlar">
                <span class="descİmgSpn">Mermer Madeni ve Kullanım Alanları</span>Mutfak tezgâhlarında, süs eşyalarında, inşaat sektöründe, heykelcilik ve mezar taşı yapımında kullanılan madendir.<br> <br> Linyit,Taş Kömürü,Gümüş,Çinko,Krom,Nikel,Kurşun
                gibi madenlerde bulunmaktadır. <br> <br> Verilen örneklerden anlaşıldığı gibi madenler teknolojinin pek çok alanında ham madde olarak kullanılmaktadır. Maden varlıkları ülkelerin en önemli ekonomik güçleridir. Ayrıca madenlerin kullanım
                alanının fazla olması günlük yaşantımızdaki önemlerini bir kat daha artırmaktadır.
            </p>
            <br>
            <hr>
            <p class="paragraph">
                <h1 class="title">Fosiller</h1>
                Bilim insanları kayaçları incelerken tabakalar arasında milyonlarca yıl önce yaşamış canlılara ait kalıntılara ve izlere rastlamışlardır. <br>
                <img class="subImg" src="../image/fosiller-1.jpg" alt="Fosiller">
                <h3 class="subTitle">Fosil Nedir?</h3>
                Geçmişte yaşamış canlıların taşlaşmış kalıntı veya izlerine <span class="bold">fosil</span> denir. <br> Fosilleri inceleyen bilim insanları eskiden yaşamış canlılar ve bu canlıların yaşadığı bölge hakkında önemli bilgiler elde edebilmektedir.
                <h3 class="subTitle">Fosiller Nasıl Oluşmuştur?</h3>
                <img src="../image/fosillerin-olusumu-1.jpg" alt="fosillerin-olusumu-1">
                <span class="descİmgSpn">Fosillerin Oluşum Süreci</span> Ölen her canlı fosilleşmez. Fosilleşmenin gerçekleşmesi için canlı kalıntılarının hava ile temasının kesilmesi gerekir. Canlı kalıntısının üzeri taş, kum, kil veya toprak ile örtülür.
                Bu örtü canlı kalıntısı üzerinde tabaka oluşturur. Böylece canlı kalıntıları zamanla taşlaşarak fosilleşir. <br>
                <img src="../image/fosillerin-olusumu-2.jpg" alt="fosillerin-olusumu-2">
                <span class="descİmgSpn">Fosillerin Ortaya Çıkma Süreci</span> Üzerinde bulunan tabakanın doğal yollarla aşınması sonucunda fosiller ortaya çıkar. <br>
                <h3 class="subTitle">Fosillere Nerelerde Rastlanılabilir?</h3>
                Fosillere sadece kayaçlarda rastlanmaz. Deniz dipleri, ağaç reçineleri veya buzullarda da fosiller bulunabilir. Örneğin buz kütlesi içinde mamut fosilleri, bitki reçinesi içinde böcek ve küçük sürüngenlerin fosilleri bulunmuştur. <br>
                <img src="../image/fosiller-2.jpg" alt="fosiller-2">
            </p>
            <br>
            <p class="not">Bu ünitemizde Kayaçlar,Madenler ve Fosiller konusunu detaylı bir şekilde öğrendik artık <span class="bold" style="color: black;">2.Üniteye</span> geçebiliriz.</p>
            <div class="btn">
                <b class="btn" style="text-align: center;"><a href="../index.html">Ana sayfaya dönmek için tıklayınız.</a></b>
                <b class="btn" style="text-align: center; display: flex; align-items: center; justify-content: flex-end; "><a href="../components/fenUnit2.html">2.üniteye geçmek için tıklayınız.</a></b>
            </div>
        </div>

        <a id='yukari_buton'><span class="material-symbols-outlined">
            arrow_upward
            </span></a>
    </div>
    <script src="math1.js"></script>
</body>

</html>