<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./fen.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>3.Ünite Fen Bilimleri</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="title">Kuvvetin Cisimler Üzerindeki Etkileri</h1>
            <p class="paragraph">
                Günlük hayatımızda kapıları açıp kapatırken, yemek yerken, oyun oynarken, yazı yazarken kuvvet uygularız.
                <h3 class="subTitle">Kuvvet Nedir?</h3>
                <img class="subImg" src="../image/kuvvet-nedir.jpg" alt="kuvvet-nedir"> Duran cisimleri harekete geçiren, hareket eden cisimleri durduran, cisimlerin hızında, yönünde ve şeklinde değişiklik yapabilen itme veya çekme şeklindeki etkiye kuvvet
                denir. <br> Duran bir cismi arkasından iterek veya önünden çekerek onu hareket ettirebiliriz. Örneğin oturmak için sandalyeyi kendimize doğru çekeriz. <br> <br>
                <h3 class="subTitle">Kuvvetin Cisimlere Etkileri</h3>
                Kuvvet cisimlere etki ederek onların; <br>
                <ul class="ul" type="square">
                    <li>hareketini durdurabilir,</li>
                    <li>hareket hızını artırabilir,</li>
                    <li>hareket hızını azaltabilir,</li>
                    <li>hareket yönünü değiştirebilir.</li>
                    <li>şeklini değiştirebilir.</li>
                </ul>
                <h3 class="bold">1. Kuvvetin Hızlandırma Etkisi</h3>
                Kuvvet hareket halindeki bir cismin hızını artırabilir. Bunun için cisme hareket yönünde kuvvet uygulanmalıdır. <br>
                <img class="subImg" src="../image/kuvvet-cisimleri-hizlandirabilir.jpg" alt="kuvvet-cisimleri-hizlandirabilir">
                <span class="descİmgSpn">Kuvvet hareket halindeki bir cismin hızını artırabilir.</span> Örneğin hareket eden bir bisikletin hızını artırmak için onun pedallarına daha fazla kuvvet uygulamalıyız. Böylece onun hızını artırabiliriz. <br>                <br>
                <h3 class="bold">2. Kuvvetin Yavaşlatma ve Durdurma Etkisi</h3>
                Kuvvet hareket halindeki bir cismin hızını yavaşlatabilir veya cismi durdurabilir. Bunun için cisme hareket yönünün tersinde kuvvet uygulanmalıdır. <br>
                <img class="subImg" src="../image/kuvvet-cisimleri-yavaslatabilir.jpg" alt=" kuvvet-cisimleri-yavaslatabilir">
                <span class="descİmgSpn">Kuvvet hareket halindeki bir cismin hızını yavaşlatabilir.</span> Örneğin hızla koşan bir köpeğin tasmasına çekme kuvveti uygularsak köpeğin hızını yavaşlatabiliriz. Çekme kuvvetini artırırsak köpeği durdurabiliriz.
                <br>
                <br>
                <h3 class="bold">3. Kuvvetin Yön Değiştirme Etkisi</h3>
                Hareket halindeki bir cisme hareket yönünden farklı bir yönde kuvvet uygularsak cismin hareket yönünü değiştirebiliriz. <br>
                <img class="subImg" src="../image/kuvvet-cisimlerin-hareket-yonunu-degistirebilir.jpg" alt="kuvvet-cisimlerin-hareket-yonunu-degistirebilir">
                <span class="descİmgSpn">Kuvvet hareket halindeki bir cismin hareket yönünü değiştirebilir.</span> Örneğin masa tenisi oynayan çocuk kendisine doğru gelen topa raketle kuvvet uygularsa top yön değiştirir. <br> <br>
                <h3 class="bold">4. Kuvvetin Şekil Değiştirme Etkisi</h3>
                Kuvvet cisimlerin şeklini değiştirebilir. <br>
                <img class="subImg" src="../image/kuvvet-cisimlerin-seklini-degistirebilir.jpg" alt="kuvvet-cisimlerin-seklini-degistirebilir">
                <span class="descİmgSpn">Kuvvet cisimlerin şeklini değiştirebilir.</span> Örneğin oyun hamuruna elimizle kuvvet uyguladığımızda istediğimiz gibi şekil veririz. Uygulanan kuvvet sonucu bazı cisimlerde şekil değişikliği geçici olurken bazıların
                da kalıcı olmaktadır. <br> <br>
                <h3 class="bold">Esnek Cisimler</h3>
                <img class="subImg" src="../image/esnek-maddeler.jpg" alt="esnek-maddeler">
                <span class="descİmgSpn">Esnek Maddeler</span> Kuvvet uygulanan bazı cisimlerde görülen şekil değişikliği kuvvetin etkisi ortadan kalkınca cisim şekli eski haline geri döner. Böyle cisimlere esnek cisimler denir. Sünger, lastik, balon
                esnek cisimlerdir. <br> <br>
                <h3 class="bold">Esnek Olmayan Cisimler</h3>
                <img class="subImg" src="../image/esnek-olmayan-maddeler.jpg" alt="esnek-olmayan-maddeler">
                <span class="descİmgSpn">Esnek Olmayan Maddeler</span> Kuvvet uygulanan bazı cisimlerde görülen şekil değişikliği ise kuvvetin etkisi ortadan kalkınca cisim şekli eski haline dönmez. Böyle cisimlere esnek olmayan cisimler denir. Cam, kâğıt,
                bakır tel esnek olmayan cisimlerdir.
            </p>
            <br>
            <hr>
            <p class="paragraph">
                <h1 class="title">Mıknatısların Özellikleri</h1>
                <h3 class="subTitle">Mıknatıslar ve Kutupları</h3>
                <h3 class="bold">Mıknatıs Nedir?</h3>
                Demir, nikel, kobalt gibi maddeleri ve bu maddelerden yapılan cisimleri çeken maddelere mıknatıs denir.
                <br> <br> Mıknatısların çekme kuvvetinin en fazla olduğu uç kısımları mıknatısların kutuplarıdır. Mıknatısların kutupları N ve S harfleriyle isimlendirilir. <br>
                <img class="subImg" src="../image/miknatislarin-kutuplari.jpg" alt="miknatislarin-kutuplari">
                <span class="descİmgSpn">Mıknatısların kutupları çekme kuvvetinin en fazla olduğu bölgelerdir</span>
                <h3 class="bold">Mıknatısların kutupları neden N ve S harfleriyle isimlendirilir?</h3>
                Çubuk mıknatısı ortasından bir ip bağlayarak asarsak bir süre sonra mıknatısın bir ucu kuzeyi diğer ucu ise güneyi gösterir. Mıknatısın kuzeyi gösteren ucuna kuzey kutup denir ve bu kutup (İngilizce kuzey demek olan North kelimesinin baş harfi) N harfiyle,
                mıknatısın güneyi gösteren ucuna güney kutup denir ve bu kutup (İngilizce güney demek olan South kelimesinin baş harfi) S harfiyle isimlendirilir. <br> <br> Bütün mıknatıslarda N ve S kutbu bulunur. Mıknatıslar ne kadar
                küçük parçalara bölünürse bölünsün her parça mıknatıs özelliği gösterir ve bölünen her parçanın kutupları vardır. <br> <br>
                <h3 class="subTitle">Mıknatısların Birbirini İtme ve Çekme Durumları</h3>
                <img class="subImg" src="../image/zit-kutuplar-birbirini-ceker-ayni-kutuplar-birbirini-iter.jpg" alt="zit-kutuplar-birbirini-ceker-ayni-kutuplar-birbirini-iter"> Mıknatısların farklı kutupları (N ve S) birbirine yaklaştırıldığında birbirini
                çeker. Mıknatısların aynı kutupları (N, N veya S, S) birbirine yaklaştırıldığında ise birbirini iter. <br> <br>
                <h3 class="bold">Mıknatıs Çeşitleri</h3>
                Mıknatıslar kullanım alanlarına göre farklı şekillerde ve büyüklüklerde yapılır. <br>
                <img class="subImg" src="../image/miknatis-cesitleri.jpg" alt="miknatis-cesitleri">
                <span class="descİmgSpn">Mıknatıs Çeşitleri</span> Günümüzde yaygın olarak kullanılan; <br>
                <ul type="square" class="ul">
                    <li>çubuk mıknatıs,</li>
                    <li>yuvarlak mıknatıs,</li>
                    <li>halka mıknatıs,</li>
                    <li>at nalı mıknatıs</li>
                    <li>U mıknatıs şeklindedir.</li>
                </ul>
                <h3 class="subTitle">Temas Gerektirmeyen Kuvvet</h3>
                Mıknatıs cisimlere çekme, başka mıknatıslara da itme veya çekme çekme kuvveti uygular. Mıknatısların kuvvet uygulayabilmesi için cisimlere veya başka mıknatıslara dokumasına gerek yoktur. Bu kuvvete temas gerektirmeyen kuvvet denir. <br>
                <h3 class="bold">Mıknatısların Etki Ettiği Maddeler</h3>
                Mıknatıslar yapısında <span class="bold">demir, nikel, çelik ve kobalt</span> olan cisimleri çeker. Mıknatısın çektiği cisimlere <span class="bold">toplu iğne, çelik kaşık, demir çivi, metal ataşlar</span> örnek verilebilir. <br> <br>
                <h3 class="subTitle">Günlük Hayatta Mıknatısların Kullanıldığı Yerler</h3>
                <img class="subImg" src="../image/miknatislarin-kullanildigi-alanlar.jpg" alt="miknatislarin-kullanildigi-alanlar">
                <span class="descİmgSpn">Mıknatısların Kullanıldığı Alanlar</span> Temas gerektirmeyen kuvvet uygulayabildiklerinden dolayı mıknatıslardan birçok alanda yararlanılır. Örneğin buzdolabı kapaklarında mıknatıs kullanılır. Bu sayede bu dolabının
                kapısı kendiliğinden açılmaz. Ayrıca buzdolabına yapıştırılan magnetlerin arkasında da mıknatıs bulunur.
                <br> Mıknatısların en eski kullanım alanlarından biri de pusuladır. Pusulanın ibresi, ince bir mıknatıstır.
                <br> Terziler dökülen iğnelerini mıknatıslar sayesinde rahatlıkla toplarlar.
                <br> Çöplerin içerisinde bulunan bazı metal maddeler mıknatıslar yardımıyla ayrılır. Ayrıca bazı yazı tahtası silgileri mıknatıslı olduğu için tahtaya yapışık gibi durular.
                <br> Radyo, televizyon, cep telefonu, hoparlör, elektrik süpürgesi, çamaşır makinesi, kapı zili gibi birçok elektronik eşyada mıknatıslardan yararlanılır. <br> <br>
                <h3 class="subTitle">Mıknatısların Yeni Kullanım Alanlar</h3>
                <img class="subImg" src="../image/miknatislarin-yeni-kullanim-alanlari.jpg" alt="miknatislarin-yeni-kullanim-alanlari">
                <span class="descİmgSpn">Mıknatısların Yeni Kullanım Alanları</span> Sağlık alanında birçok hastalığın teşhisinde kullanılan, insanların iç organlarını görüntüleyen <span class="bold">MR cihazı</span> mıknatıslardan yararlanılarak tasarlanmıştır.
                <br> Bazı hızlı trenlerde(maglev) tekerlek yerine mıknatıs kullanılır. Bu trenin gittiği raylar da mıknatıstan yapılmıştır. Tren rayların bir santimetre üzerinde havada ilerler. Böylece çok yüksek hızlara ulaşır.
                <br> Siz de mıknatısların temas gerektirmeyen kuvvetinden nerelerde yararlanılabileceğini düşünüp yeni fikirler üretebilirsiniz.
            </p>
            <br>
            <hr>
            <p class="paragraph">
                <h1 class="title">Maddeyi Niteleyen Özellikler</h1>
                Maddelerin özelliklerinin birbirinden farklı olduğunu; <span class="bold">görme, işitme, dokunma, koklama ve tatma</span> duyularımızı kullanarak algılayabileceğimizi biliyoruz.
                <br> Duyu organlarımızla algılayabildiğimiz maddeyi niteleyen özellikleri, <span class="bold">sertlik-yumuşaklık, esneklik-kırılganlık, pürüzlü-pürüzsüz, renk, koku ve tat</span> olarak sınıflandırmıştık. <br> <br>
                <img class="subImg" src="../image/maddeyi-niteleyen-ozellikler.jpg" alt="maddeyi-niteleyen-ozellikler"> Nitelemek, maddelerin özelliklerini belirlemek demektir. Maddelerin özelliklerini belirlemek amacıyla; <span class="bold">suda yüzme, batma, suyu emme ve emmeme, mıknatıs tarafından çekilme veya çekilmeme</span>gibi
                özelliklerini kullanabiliriz. <br> <br>
                <h3 class="subTitle">1. Suda Yüzen ve Batan Maddeler</h3>
                <img class="subImg" src="../image/suda-yuzen-batan-maddeler.jpg" alt="suda-yuzen-batan-maddeler">
                <span class="descİmgSpn">Suda Yüzen ve Batan Maddeler</span> Küçük bir taş parçası ile bir tahta parçasını suya atarsak tahta parçasının yüzdüğünü, taş parçasının ise battığını gözlemleriz. O hâlde bazı cisimler suda yüzerken bazıları
                batar. Tahta, plastik, strafor köpük, odun talaşı gibi maddeler suda yüzer. Taş, toprak gibi maddeler ise suda batar.
                <br> Maddelerin suda yüzmesi ya da batması büyüklüğüne değil, cinsine bağlıdır. Tahtadan yapılmış kocaman bir tekne suda yüzerken metalden yapılmış küçük bir çay kaşığı suda batar. <br> <br>
                <h3 class="subTitle">2. Suyu Emen ve Emmeyen Maddeler</h3>
                <img class="subImg" src="../image/suyu-emen-maddeler.jpg" alt="suyu-emen-maddeler">
                <span class="descİmgSpn">Suyu Emen Maddeler</span> Tuvalet kâğıdı, pamuklu kumaştan yapılmış temizlik bezi, bulaşık süngeri, pamuk gibi maddeler suyu emer. Alüminyum folyo, naylon poşet ve plastik maddeler ise suyu emmez. <br>
                <img class="subImg" src="../image/suyu-emmeyen-maddeler.jpg" alt="suyu-emmeyen-maddeler">
                <span class="descİmgSpn">Suyu Emmeyen Maddeler</span> Bazı maddelerin suyu emip bazılarının emmemesi, maddeleri niteleyen özelliklerden biridir.
                <br> Maddelerin su geçirmezlik özelliğinden yararlanılarak birçok araç gereç geliştirilmiştir. Yağmurlu havalarda kullandığımız şemsiye, yağmurluk ve çizme suyu geçirmeyen maddeden yapılır. <br> <br>
                <h3 class="subTitle">3. Mıknatısla Çekilebilen Maddeler</h3>
                Maddelerin mıknatıs tarafından çekilip çekilmemesi de maddeleri niteleyen bir diğer özelliktir. <span class="bold">Mıknatıs; demir, nikel, çelik ve kobalt</span> gibi maddeleri çeker. <br>
                <img class="subImg" src="../image/minatis-tarafindan-cekilen-maddeler.jpg" alt="minatis-tarafindan-cekilen-maddeler">
                <span class="descİmgSpn">Mıknatıs Tarafından Çekilen Maddeler</span> Toplu iğne, çivi, pense gibi demirden yapılmış maddeler mıknatıs tarafından çekilirken <span class="bold">kumaş, tahta, cam ve plastik</span> maddeler mıknatıs tarafından
                çekilmez.
                <br>
            </p>
            <br>
            <p class="not">Bu ünitemizde <span class="bold" style="color: black;">Kuvvetin Cisimler Üzerindeki Etkileri,Mıknatısların Özellikleri,Maddeyi Niteleyen Özellikler</span> konusunu detaylı bir şekilde öğrendik ve artık konularımız bittiğine göre diğer derslere
                çalışmak için
                <span class="bold" style="color: black;">Ana sayfaya</span> dönebilirsiniz.</p>
            <div class="btn">
                <b class="btn" style="text-align: center;"><a href="../components/fenUnit2.html">2.üniteye dönmek için tıklayınız.</a></b>
                <b class="btn" style="text-align: center; display: flex; align-items: center; justify-content: flex-end;"><a href="../index.html">Ana sayfaya dönmek için tıklayınız.</a></b>
            </div>
        </div>
        <a id='yukari_buton'><span class="material-symbols-outlined">
            arrow_upward
            </span></a>
    </div>
    </div>
    <script src="math1.js"></script>
</body>

</html>