<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./mathSorular.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Matematik 10 Soru</title>
</head>

<body>
    <div id="container" class="container">
        <h1 class="title">Sorular</h1>
        <div id="quiz-header" class="header">
            <h3 id="quiz-head">Soru 1</h3>
            <!--Bu alt kısma 10 soruyu yaz ilk hariç diğerleri görünmesin ,
                ileri butonuna basıldığında diğer soruya geri butonuna geçsin ve 10 soruluk test tamamlansın.-->
            <div id="quiz-content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptatem!
            </div>
            <div id="quiz-sections">
                <ul>
                    <a href="#">
                        <li>A</li>
                    </a>
                    <a href="#">
                        <li>b</li>
                    </a>
                    <a href="#">
                        <li>c</li>
                    </a>
                    <a href="#">
                        <li>d</li>
                    </a>
                </ul>
            </div>
        </div>
        <div id="sure">
        </div>
        <div class="button">
            <div class="btn-style">
                <button id="btn" class="btn">Geri</button>
                <button id="btn" class="btn">İleri</button>
            </div>
        </div>
    </div>
    <script src="./mathSorular.js"></script>
</body>

</html>