<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./math1.css">
    <title>1.Ünite Matematik</title>
</head>

<body>
    <div class="container">
        <div class="head">
            <h1 class="title">Doğal Sayılar</h1>
        </div>
        <div class="content">
            <h4 class="title">Dört Basamaklı Sayılar</h4>
            <p class="paragraph"> <i>3. sınıfta üç basamaklı doğal sayıları öğrenmiştik.</i> En büyük üç basamaklı doğal sayının <i>999</i> olduğunu biliyoruz.</p>
            <p class="paragraph">
                <i>1000</i> sayısı dört basamaklı bir sayıdır. <br>
                <img class="foto1" src="../image/1000-sayisi.jpg" />
                <br> Tabloda 0 (sıfır) birlik, 0 (sıfır) onluk, 0 (sıfır) yüzlük ve 1 binlik vardır. Bu sayının okunuşu “bin”, yazılışı ise “1000” şeklindedir. 1000 en küçük dört basamaklı sayıdır. <i> 9999 sayısı da dört basamaklı en büyük doğal sayıdır.</i>
                <br><br><b>Örnek:</b> <br> Ağrı Dağı’nın yüksekliğini gösteren <i>“beş bin yüz otuz yedi”</i> doğal sayısını modelleyelim. <br>
                <img src="../image/5137-sayisini-modelleyelim.jpg" alt=""><br> <i>5137</i> sayısı dört rakamdan oluşmaktadır. Bu sayı, dört basamaklı doğal sayıdır.
            </p>
            <br>
            <h4 class="title">Beş Basamaklı Sayılar</h4>
            <p class="paragraph">
                <i>“Elli altı bin iki yüz altmış bir”</i> doğal sayısını basamak tablosunda gösterelim.
                <img class="foto1" src="../image/56216-sayisini-modelleyelim.jpg" />
                <br> <i> 56 261 </i> sayısı beş rakamdan oluşmaktadır. Bu sayı, beş basamaklı doğal sayıdır.
                <br>
            </p>
            <br>
            <h4 class="title">Altı Basamaklı Sayılar</h4>
            <p class="paragraph">
                <i>“Dört yüz otuz yedi bin doksan üç”</i> doğal sayısını basamak tablosunda gösterelim.
                <img class="foto1" src="../image/437093-sayisni-modelleme.jpg" />
                <br> Sayıları okurken önce bölük içindeki sayı okunur. Sonuna bölük ismi eklenir. Ama birler bölüğü okunurken sonuna bölük ismi eklenmez. <i>Dört yüz otuz yedi bin doksan üç.</i><br>
                <br> <i>437 093</i> sayısı altı rakamdan oluşmaktadır. Bu sayı, altı basamaklı doğal sayıdır.
            </p>
            <br>
            <h4 class="title">Doğal Sayıları Çözümleme</h4>
            <p class="paragraph">
                Bir doğal sayıyı rakamlarının basamak değerlerinin toplamı şeklinde yazmaya, bu doğal sayıyı <i>çözümleme</i> denir. <br>
                <br> <b>Örnek:</b> <i>234 560</i> sayısını, sayıdaki rakamların basamak değerlerini yazarak çözümleyelim. <br>
                <br> <img src="../image/234560-sayisini-cozumleme.jpg" /> <br>

            </p>
            <h3 class="title">Ritmik Saymalar</h3>
            <p class="paragraph">
                Geçen sene <i>altışar, yedişer, sekizer, dokuzar ve onar</i> ritmik saymaları öğrenmiştik.<br>
                <br><i>Altışar ritmik sayalım:</i> <a> 6 - 12 - 18 - 24 - 30 - 36 - 42 - 48 - 54 - 60</a>
                <br><i>Yedişer ritmik sayalım:</i> <a>7 - 14 - 21 - 28 - 35 - 42 - 49 - 56 - 63 - 70</a>
                <br><i>Sekizer ritmik sayalım:</i> <a>8 - 16 - 24 - 32 - 40 - 48 - 56 - 64 - 72 - 80</a>
                <br><i>Dokuzar ritmik sayalım:</i> <a>9 - 18 - 27 - 36 - 45 - 54 - 63 - 72 - 81 - 90</a>
                <br><i>Onar ritmik sayalım: </i> <a>10 - 20 - 30 - 40 - 50 - 60 - 70 - 80 - 90 - 100 </a> <br>
            </p>
            <br>
            <h4 class="title">Yüzer Ritmik Sayma</h4>
            <p class="paragraph">
                100’den başlayarak 1000’e kadar yüzer ileriye doğru sayarken aşağıdaki sayılar söylenir:<br>
                <br>
                <a>100 → 200 → 300 → 400 → 500 → 600 → 700 → 800 → 900 → 1000</a> <br> <br> İleriye doğru yüzer ritmik sayarken yüzler basamağındaki rakam artar. Yüzlük sayısı 9 olduğunda bir sonraki binliğe geçilir.
            </p>
            <b>Örnek:</b>
            <p class="paragraph">
                Kasada <i>8200</i> TL vardı. Kasaya sekiz adet daha 100 TL konuldu. Son durumda kasada bulunan parayı yüzer ritmik sayma yaparak bulalım. <br>
                <img class="foto1" src="../image/kasa.jpg" /> <br> <a>8300 → 8400 → 8500 → 8600 → 8700 → 8800 → 8900 → 9000</a> <br>
                <br> Son durumda kasada <i>8900 </i> TL olur. <br>
            </p>
            <h4 class="title">Biner Ritmik Sayma</h4>
            <p class="paragraph">
                1000’den başlayarak 10 000’e kadar biner ileriye doğru sayarken aşağıdaki sayılar söylenir:<br>
                <br>
                <a>1000 → 2000 → 3000 → 4000 → 5000 → 6000 → 7000 → 8000 → 9000 → 10 000</a> <br> <br> İleriye doğru biner ritmik sayarken binler basamağındaki rakamlar artar. Diğer basamaklardaki rakamlar değişmez.
            </p>
            <b>Örnek:</b>
            <p class="paragraph">
                Bakkal Hasan Amca, rafta 3000 g‘lık küp şeker kaldığını fark etti. Gidip depodan 6 adet 1000 g‘lık küp şeker daha getirdi. Son durumda raftaki küp şeker miktarını biner ritmik sayma yaparak bulalım.<br>
                <img class="foto1" src="../image/seker-1.jpg" /> <br> <a> 4000  →  5000  →  6000  →  7000  →  8000  →  9000</a> <br>
                <br> Son durumda rafta <i>9000</i> g şeker olmuş oldu <br>
            </p>
            <br>
            <hr>
            <h1 class="title">Sayıları Onluğa ve Yüzlüğe Yuvarlama</h1>
            <br>
            <h4 class="title">Sayıları En yakın Onluğa Yuvarlama</h4>
            <p class="paragraph">
                Geçen sene üç basamaklı doğal sayıları <i>en yakın onluğa  ve yüzlüğe yuvarlama</i> konusunu öğrenmiştik. <br> <br> Sayıları en yakın onluğa yuvarlarken <i>birler basamağına</i> bakılır. Sayının birler basamağındaki rakam <i>5’ten küçükse</i>onlar
                basamağındaki rakam aynen yazılır. Birler basamağına sıfır yazılır. Sayının birler basamağındaki rakam <i>5 ya da 5’ten büyükse </i> onlar basamağındaki rakam 1 artırılır. Birler basamağına sıfır yazılır. <br>
                <b>Örnek:</b><br> <img src="../image/445-onluga-yuvarlama.jpg"> <br> <i>445</i> doğal sayısı <i>440 ile 450 </i> sayıları arasındadır. <i>445</i> sayısının birler basamağında <i>5</i> rakamı vardır. O halde <i>445 sayısını 450‘ye</i> yuvarlarız.
                <br>
                <b>Örnek:</b> <br><i>248</i> sayısını en yakın onluğa yuvarlayalım. <br>
                <img src="../image/248-onluga-yuvarlama.jpg"> <br>
                <i>248</i> doğal sayısı <i>240 ile 250</i> sayıları arasındadır. <i>248 sayısı 250</i> sayısına 2 birim, 240 sayısına 8 birim uzaklıktadır. 248 sayısı, 250 sayısına daha yakındır. O halde <i>248 sayısını 250‘ye</i> yuvarlarız.
            </p>
            <h4 class="title">Sayıları En yakın Yüzlüğe Yuvarlama</h4>
            <p class="paragraph">
                Sayıları en yakın yüzlüğe yuvarlarken <i>onlar basamağına</i> bakılır. Sayının onlar basamağındaki rakam 5’ten küçükse, yüzler basamağındaki rakam aynen yazılır. <i>Onlar ve birler basamağına sıfır yazılır.</i> Sayının onlar basamağındaki
                rakam 5 ya da 5’ten büyükse yüzler basamağındaki rakam 1 artırılır. <i>Onlar ve birler basamağına sıfır yazılır.</i> <br> <br>
                <b>Örnek:</b> <br> Bursa’da bulunan Uludağ’ın yüksekliği <i>2543</i> metredir. <i>2543</i> sayısını en yakın yüzlüğe yuvarlayalım. <br>
                <img src="../image/2543.jpg"> <br>
                <i>2543</i> doğal sayısı <i>2500 ile 2600</i> sayıları arasındadır. 2543 sayısının, onlar basamağında <i>4</i> rakamı oluğu için sayı <i>2500 sayısına</i> daha yakındır. O halde <b>2543 sayısını 2500‘e</b> yuvarlarız. <br> <br>
                <p class="not">Bu ünitemizde doğal sayılar konusunu detaylı bir şekilde öğrendik artık <i>2.Üniteye</i> geçebiliriz.</p> <br><br>
                <div class="btn">
                    <b class="btn" style="text-align: center;"><a href="../index.html">Ana sayfaya dönmek için tıklayınız.</a></b>
                    <b class="btn" style="text-align: center; display: flex; align-items: center; justify-content: flex-end; "><a href="../components/matUnit2.html">2.üniteye geçmek için tıklayınız.</a></b>
                </div>
            </p>
        </div>
        <a id='yukari_buton'><span class="material-symbols-outlined">
            arrow_upward
            </span></a>
    </div>
    <script src="math1.js"></script>
</body>

</html>