<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./math1.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>2.Ünite Matematik</title>
</head>

<body>
    <div class="container">
        <div class="head">
            <h1 class="title"> Doğal Sayılarla Toplama İşlemi</h1>
        </div>
        <div class="content">
            <p class="paragraph"><b>3. sınıfta üç basamaklı doğal sayılarla toplama işlemi konusunu öğrenmiştik</b> Şimdi de dört basamaklı sayılarla toplama işlemini öğreneceğiz.</p><br>
            <h4 class="title">Eldesiz Toplama İşlemi</h4>
            <p class="paragraph">
                Toplama işlemi yaparken önce birler basamağındaki sayılar toplanır. Sonra onlar basamağındaki sayılar toplanır. Daha sonra yüzler basamağındaki sayılar toplanır. En sonunda da binler basamağındaki sayılar toplanır.<br>
                <b>Örnek:</b> <br>
                <i>2160 ve 1825</i> sayılarını toplarken izlenen aşamaları inceleyelim. <br> <br> Sayıları toplarken basamakları alt alta yazmaya dikkat edelim <br>
                <img src="../image/4-sinif-eldesiz-toplama-islemi.jpg"> <br>
                <i class="center">2160  +  1825  = 3985</i>
            </p>
            <br>
            <h4 class="title">Eldeli Toplama İşlemi</h4>
            <p class="paragraph">
                Eldeli toplama işlemi yaparken eldesiz toplama işlemi gibi önce birlikler, sonra onluklar, daha sonra <i>yüzlükler ve en sonunda da binlikler</i> toplanır. Ancak eldelere dikkat edilir.<br>
                <b>Örnek:</b> <br>
                <i>4818, 1586 ve 2647</i> sayılarını toplarken izlenen aşamaları inceleyelim. <br><br>
                <img src="../image/4-sinif-eldeli-toplama-islemi.jpg"> <br>
                <i class="center">4818  +  1586  +  2647  = 9051</i>
            </p>
            <br>
            <h4 class="title">Toplananların Yer Değiştirmesi</h4>
            <p class="paragraph">
                Aşağıdaki toplama işlemlerini inceleyelim.<br>
                <br><img src="../image/4-sinif-toplamlarin-yer-degistirmesi.jpg"> <br> Toplama işleminde toplananların yerinin değişmesi <i> sonucu</i> değiştirmez. <br>
                <b>Örnek:</b><br>
                <i>K + 17 + 25 = 25 + 42 + 17</i> olduğuna göre, K yerine yazılabilecek sayının kaç olduğunu bulalım. <br>
                <img class="center" src="../image/toplananlarin-yer-degistirme-ornek.jpg"> <br>
                <i class="center">Buna göre, K yerine yazılabilecek sayı 42’dir.</i>
            </p>
            <br>
            <h4 class="title">Toplama İşleminde Verilmeyen Rakamı Bulma</h4>
            <p class="paragraph">
                <b>Örnek:</b><br>
                <br>Aşağıda verilen toplama işlemine göre <i>A + B + C </i> toplamının kaç olduğunu bulalım. <br>
                <img class="center" src="../image/4-sinif-verilmeyen-toplanani-bulma.jpg"> <br>
                <span>Verilen toplama işleminde birler basamağındaki rakamların toplamı 8’dir.</span><br>
                <span><i>C + 6 = 8 ise, C = 2’dir.</i></span><br>
                <span>Onlar basamağındaki rakamların toplamı 9’dur.</span><br>
                <span><i>B + 4 = 9 ise, B = 5’tir.</i></span><br>
                <span>Yüzler basamağındaki rakamların toplamı 7’dir.</span><br>
                <span><i>A + 2 = 7 ise, A = 5’tir.</i></span><br>
                <span>Buna göre :<br><i>A + B + C = 5 + 5 + 2 = 12</i></span>
            </p>
            <br>
            <hr>
            <h1 class="title">Doğal Sayılarla Çıkarma İşlemi</h1>
            <p class="paragraph">
                <b>3. sınıfta üç basamaklı doğal sayılarla çıkarma işlemini öğrenmiştik.</b> Şimdi de dört basamaklı doğal sayılarla çıkarma işlemini öğrenelim.<br> <br> Çıkarma işlemi yaparken önce <i>birler basamağındaki rakamların farkı</i> bulunur.
                Sonra onlar basamağındaki rakamların farkı bulunur. Daha sonra yüzler basamağındaki rakamların farkı bulunur. En sonunda da <i> binler basamağındaki rakamların farkı</i> bulunur. <br> <br> Atatürk <i>1881’de doğdu, 1923’te</i> Türkiye
                Cumhuriyeti’nin ilk cumhurbaşkanı oldu. Atatürk’ün kaç yaşında cumhurbaşkanı olduğunu bulalım. <br> Sayıları çıkarırken basamakları <i>alt alta</i> yazmaya dikkat edelim.
                <br><img src="../image/4-sinif-cikarma-islemi.jpg"> <br>
                <i class="center">Atatürk 42 yaşında cumhurbaşkanı olmuştur</i>
            </p>
            <br>
            <h4 class="title">Çıkarma İşleminde Verilmeyen Eksileni Bulma</h4>
            <p class="paragraph">
                <br><img src="../image/eksileni-bulma.jpg"> <br> Verilen bu işlemde çıkan sayı ile farkı toplayalım. 224 + 231 = 455’tir. Yani, çıkan sayı ile farkın toplamı eksilen sayıya eşittir.<br>
                <b>Örnek:</b><br>
                <img class="boyut" src="../image/verilmeyen-eksileni-bulma.jpg">işleminde verilmeyen eksileni bulalım. <br>
                <img src="../image/verilmeyen-eksileni-bulma-2.jpg" alt=""> <br>
                <i>O hâlde eksilen 8619 olur.</i>
            </p>
            <br>
            <h4 class="title">Çıkarma İşleminde Verilmeyen Çıkanı Bulma</h4>
            <p class="paragraph">
                <br><img src="../image/verilmeyen-cikani-bulma.jpg"> <br>Eksilen ve farkın verildiği bir çıkarma işleminde çıkan sayıyı bulmak için <i>eksilen sayıdan farkı çıkarırız.</i><br>
                <b>Örnek:</b><br>
                <img src="../image/verilmeyen-eksileni-bulma-2.jpg">işleminde verilmeyen çıkanı bulalım. <br><br> Çıkan sayıyı bulmak için eksilen sayıdan farkı çıkarırız. <br>
                <img src="../image/verilmeyen-cikani-bulma-cozum.jpg"> <br>
                <i>Buna göre, çıkan sayı 352‘dir.</i>
            </p>
            <br>
            <hr>
            <h1 class="title">Doğal Sayılarla Çarpma İşlemi</h1>
            <p class="paragraph">
                <b>3. Sınıfta üç basamaklı sayılar ile bir basamaklı sayıların çarpımını öğrenmiştik.</b> Şimdi de üç basamaklı sayılar ile iki basamaklı sayıların çarpımını öğreneceğiz.<br>
                <b>Örnek:</b> <br> Fikret, yabancı bir ülkede çalışan dayısını ziyarete giderken saatte 724 km hızla uçan bir uçakla 8 saat yolculuk yapıyor. Fikret’in gittiği ülkenin ülkemize uzaklığı kaç km’dir? Birlikte bulalım.<br><br>
                <img src="../image/4-sinif-carpma-islemi.jpg"> <br>
                <span><i>* 8 birliği 4 ile çarptık. 32‘nin 2 birliğini yazdık. Elde 3 onluk var.</i></span><br>
                <span><i>* 8 birliği 2 onluk ile çarptık. 16 onluk + 3 onluk(elde) = 19 onluk. 19 onluğun 9 onluğunu yazdık. Elde 1 yüzlük var.</i></span><br>
                <span><i>* 8 birliği 7 yüzlük ile çarptık. 56 yüzlük + 1 yüzlük(elde) = 57 yüzlük</i></span> <br> <br>
                <b>Örnek:</b> <br>Bir kişinin dakikada 76 kez atan kalbi, 62 dakikada kaç kez atar? Birlikte bulalım.<br><br>
                <img src="../image/4-sinif-carpma-islemi-2.jpg"> <br>
                <span><i>* 2 birliği 76 sayısıyla çarptık.</i></span><br>
                <span><i>* 6 onluk 76 sayısıyla çarptık.</i></span><br>
                <span><i>* 76 sayısının 2 birlik ve 6 onluk ile çarpılmasından bulunan sayıları topladık.</i></span> <br>
                <span class="cneter">Bu kişinin kalbi <i> 62 dakikada 4712 </i> kez atar.</span>
            </p>
            <br>
            <h4 class="title">0 ve 1 İle Çarpma</h4>
            <p class="paragraph">
                * Bir doğal sayının 0 ile çarpımının sonucu 0’dır. <br>
                <b>Örnek:</b><br>
                <i>9 x 0 = 0, 48 x 0 = 0, 9657 x 0 = 0</i> <br> * Bir doğal sayının 1 ile çarpımının sonucu yine sayının kendi değerini verir. <br>
                <b>Örnek:</b><br>
                <i>9 x 1 = 9, 48 x 1 = 48, 9657 x 1 = 9657</i>
            </p>
            <br>
            <h4 class="title">Çarpanların Yer Değişmesi</h4>
            <p class="paragraph">
                Bir kütüphanenin çocuk kitapları bölümünde 6 dolap vardır. Her dolapta 12 raf, her rafta da 9 kitap bulunmaktadır. <br> Bu kütüphanede kaç çocuk kitabı olduğunu iki arkadaş farklı şekilde buldu: <br>
                <img src="../image/carpanlarin-carpilma-sirasinin-degismesi.jpg"> <br> Her iki işlemde de sonuç aynıdır.
            </p>
            <div class="not">
                Üç çarpanlı bir çarpma işleminde, sayıların çarpılma sırası değişse de sonuç değişmez. Parantez içindeki işlem her zaman önce yapılır.
            </div>
            <br>
            <hr>
            <h1 class="title">Doğal Sayılarla Bölme İşlemi</h1>
            <p class="paragraph">
                <b>3. sınıfta iki basamaklı sayıların bir basamaklı sayılara bölümünü öğrenmiştik.</b> Şimdi de dört basamaklı sayıların bölümünü öğreneceğiz.<br> <br> Mihriban Hanım, 85 cevizi 6 çocuğa eşit bir şekilde paylaştırmak istiyor. Her çocuğa
                kaç ceviz düşer ve geriye kaç ceviz kalır, bulalım. <br>
                <br><img src="../image/4-sinif-bolme-islemi.jpg"> <br>
            </p>
            <p class="not"><i>Bir bölme işleminde bölünen, bölen, bölüm ve kalan terimleri bulunur.</i></p><br>
            <h4 class="title">Dört Basamaklı Sayılarla Bölme İşlemi</h4>
            <b>Örnek:</b><br> Arif Bey, <i>2475 TL</i> olan bir bilgisayarı <i>9</i> taksitle satın almıştır. Bu göre Arif Bey’in her ay ödeyeceği para miktarını bulalım. <br>
            <img src="../image/4-sinif-dort-basamakli-sayilarla-bolme-islemi.jpg"> <br> Bölme işleminin doğruluğunu kontrol edelim. <br> Bölen x Bölüm = 9 x 275 = 2475 <br>
            <i>Bölme işlemimiz doğrudur.</i><br><br>
            <p class="not">Bu ünitemizde Doğal Sayılarda İşlemeler konusunu detaylı bir şekilde öğrendik artık <i>3.Üniteye</i> geçebiliriz.</p> <br> <br>
            <div class="btn">
                <a href="../components/matUnit1.html">1.üniteye dönmek için tıklayınız.</a>
                <a href="../components/matUnit3.html">3.üniteye geçmek için tıklayınız.</a>
            </div>
        </div>
        <a id='yukari_buton'><span class="material-symbols-outlined">
            arrow_upward
            </span></a>
    </div>

    <script src="./math1.js"></script>
</body>

</html>