<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../image/logo.svg" sizes="16x16" type="image/svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,600;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./math1.css">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>3.Ünite</title>
</head>

<body>
    <div class="container">
        <div class="head">
            <h1 class="title"> Basit,Bileşik ve Tam Sayılı Kesirler</h1>
        </div>
        <div class="content">
            <p class="paragraph">
                <b>3. sınıfta birim kesir konusunu</b> öğrenmiştik. Şimdi de basit, bileşik ve tam sayılı kesirleri öğreneceğiz. <br> <br> Bir kesirde pay, payda ve kesir çizgisi bulunur. <br>
                <img src="../image/pay-payda-kesir-cizgisi.jpg"> <br>
                <h4 class="title">Basit Kesir:</h4> <br>
                <p class="not" style="padding:15px;">
                    Payı, paydasından küçük olan kesirlere <i>“basit kesir”</i> denir.
                </p> <br>
                <b>Örnek:</b><br> Paydası 6, payı 4 olan basit kesri belirleyelim ve modelleyelim. Kesrin okunuşunu yazalım. <br> <br>
                <img src="../image/basit-kesir.jpg" alt=""> <br> <i>Paydası 6, payı 4</i> olan basit kesir 4/6 olur. 4/6 kesri modellenirken bütün, 6 eş parçaya bölünür. Eş parçalardan 4’ü boyanır. <br> <b>4/6</b> basit kesri, “altıda dört” ya da “dört
                bölü altı” diye okunur. <br> Şimdi de <i>4/6</i> basit kesrini sayı doğrusunda gösterelim. <br> <br>
                <img src="../image/basit-kesir-sayi-dogrusu.jpg"> <br>
                <p class="not">
                    Basit kesirler daima bir bütünden <i>küçüktür.</i>
                </p> <br>
                <h4 class="title">Bileşik Kesir</h4> <br>
                <p class="not">
                    Payı, paydasına eşit ya da payı, paydasından büyük olan kesirlere <i>“bileşik kesir”</i> denir.
                </p> <br>
                <b>Örnek:</b><br>
                <i>Paydası 4, payı 7</i> olan bileşik kesri belirleyelim ve modelleyelim. Kesrin okunuşunu yazalım. <br> <br>
                <img src="../image/bilesik-kesir.jpg"> <br> Paydası 4, payı 7 olan bileşik kesir <i>7/4</i> olur. 7/4 kesri modellenirken 4 eş parçaya bölünmüş bütünlerden yararlanılır. <br> 7/4 bileşik kesri, <i>“yedi bölü dört”</i> diye okunur. <br>Şimdi
                de 7/4 bileşik kesrini sayı doğrusunda gösterelim. <br> <br>
                <img src="../image/bilesik-kesir-sayi-dogrusu-gosterimi.jpg"> <br>
                <p class="not">
                    Bileşik kesirler hiçbir zaman bir bütünden küçük olamaz.
                </p><br>
                <h4 class="title">Tam Sayılı Kesir</h4> <br>
                <p class="not">
                    1 ya da 1’den fazla bütün ve basit kesirden oluşan kesirlere <i>“tam sayılı kesir”</i> denir.
                </p><br>
                <b>Örnek:</b><br> 1 bütün ve 25 basit kesrinden oluşan tam sayılı kesri belirleyelim ve modelleyelim. Kesrin okunuşunu yazalım. <br><br>
                <img src="../image/tam-sayili-kesir.jpg"><br> <i>1 2/5</i> kesri modellenirken 1 bütün ve 5 eş parçaya bölünüp 2 parçası boyanmış başka bir bütün kullanılır. <br> <i>1 2/5 </i> tam sayılı kesri, <i>“bir tam beşte iki”</i> ya da <i>“bir tam iki bölü beş”</i>diye
                okunur. <br><br> Şimdi de <i>1 2/5</i> tam sayılı kesrini sayı doğrusunda gösterelim. <br>
                <img src="../image/tam-sayili-kesir-sayi-dogrusu.jpg"> <br>
                <p class="not">Tam sayılı kesirler daima bir bütünden <i>büyüktür.</i></p> <br>
                <hr>
                <h1 class="title">Sütun Grafiği</h1> <br> Çeşitli yollarla elde ettiğimiz verileri daha kolay okumak ve yorumlamak için <i>tablo, sütun grafiği ve ağaç şeması</i> gibi yöntemlerden yararlanabiliriz. <br> <br>
                <b>Veriler:</b><br> *çetele tablosunda çentiklerle, <br> *sıklık tablosunda sayılarla, <br> *şekil grafiğinde şekillerle, <br> *nesne grafiğinde resimlerle, <br> *sütun grafiğinde çubuklarla gösterilir. <br> <br>
                <b>3. sınıfta çetele ve sıklık tablosu ile nesne ve şekil grafiği</b> konularını öğrenmiştik. <br> <br>
                <h4 class="title">Sütun Grafiği Nedir?</h4> <br>
                <p class="not">Çubuklarla oluşturulan grafiğe, <i>sütun grafiği</i> adı verilir.</p> <br>
                <b>Sütun grafiği oluşturulurken;</b> <br> *başlık, <br> *eksen isimlerine, <br> *çubuk genişliklerinin eşit olmasına, <br> *çubuklar arasındaki boşlukların eşit olmasına, <br> *eksen üzerinde sayıların eşit olarak büyümesine dikkat etmeliyiz.
                <br>
                <br>
                <h4 class="title">Sütun Grafiği Oluşturma</h4> <br>
                <b>Örnek:</b> <br> Bir kömürcü 2016 yılında 100 ton, 2017 yılında 50 ton, 2108 yılında 150 ton, 2019 yılında 150 ton ve 2020 yılında 200 ton kömür satmıştır. Yıllara göre kömür satışlarını sıklık tablosu ve sütun grafiği ile gösterelim.
                <br>
                <br>
                <b>Sıklık Tablosu:</b><b style="color: red;"> Satılan Kömür Miktarı</b> <br>
                <img src="../image/4-sinif-komur-satisi-sutun-grafigi.jpg"> <br>
                <b>Sütun Grafiğini Yorumlayalım:</b><br> *En çok kömür satışı 2020 yılında olmuştur. <br> *En az kömür satışı 2017 yılında olmuştur. <br> *2018 ve 2019 yıllarında eşit miktarda kömür satışı olmuştur. <br> *Kömür satışında en fazla artış
                2018 yılında olmuştur. <br> *Beş yılda 650 ton kömür satılmıştır. <br> <br>
                <b>Örnek:</b> <br> Okulumuz öğrencilerinden 4 kişi keman kursuna, 24 kişi gitar kursuna, 12 kişi bağlama kursuna, 8 kişi piyano kursuna, 16 kişi de ritim kursuna katılmaktadır. Kursa katılan öğrencileri sıklık tablosu, nesne ve sütun grafiklerinde
                gösterelim. <br>
                <b>Sıklık Tablosu:</b><b style="color: red;"> Müzik Kurslarına Katılan Öğrenciler</b> <br>
                <img src="../image/4-sinif-kursa-katilanlar-siklik-tablosu.jpg" alt=""><br> Şimdi de müzik kurslarına katılan öğrenci sayılarını nesne grafiğinde gösterelim. <br> <br>
                <h4 class="title">Nesne Grafiği: Müzik Kurslarına Katılan Öğrenciler</h4><br>
                <img src="../image/muzik-kurslarina-katilan-ogrenci-sayilari-nesne-grafigi.jpg"> <br>
                <i>Her nesne 4 öğrenciyi göstermektedir.</i> <br> Şimdi de müzik kurslarına katılan öğrenci sayılarını sütun grafiğinde gösterelim. <br>
                <b>Sütun Grafiği</b><b style="color: red;">Müzik Kurslarına Katılan Öğrenciler</b> <br>
                <img src="../image/4-sinif-kursa-katilanlar-sutun-grafigi.jpg" alt=""> <br>
                <b>Sütun Grafiğini Yorumlayalım</b> <br> *En çok öğrenci gitar kursuna katılmaktadır. <br> *En az öğrenci keman kursuna katılmaktadır. <br> *Tüm kurslara katılan öğrenci sayısı 64‘tür. <br> *Bağlama kursuna katılanlar, piyano kursuna katılanlardan
                4 fazladır. <br> *Gitar kursuna katılanlar, keman kursuna katılanlardan 20 fazladır. <br> *Bağlama ve keman kursuna katılan öğrencilerin toplamı, ritim kursuna katılan öğrencilere eşittir. <br> *Piyano ve ritim kursuna katılan öğrencilerin
                toplamı, gitar kursuna katılan öğrencilere eşittir. <br> <br>
                <b style="color: red;">Ağaç Şeması Oluşturalım</b> <br>
                <b>Örnek:</b> <br> Cumhuriyet İlkokulunda erkek öğrencilerin 45‘i gözlüklü, 263‘ü gözlüksüz; kız öğrencilerin ise 53‘ü gözlüklü, 276‘sı gözlüksüzdür. Gözlüklü ve gözlüksüz öğrencileri ağaç şeması üzerinde gösterelim. <br>
                <b>Ağaç Şeması:</b><b style="color: red;">  Gözlüklü ve Gözlüksüz Öğrenciler</b> <br>
                <img src="../image/4-sinif-agac-semasi-olusturalim.jpg" alt=""> <br>
                <b>Ağaç Şemasını Yorumlayalım</b> <br> *Gözlüklü kız öğrenciler, gözlüklü erkek öğrencilerden fazladır. <br> *Gözlüksüz erkek öğrenciler, gözlüksüz kız öğrencilerden azdır. <br> *Toplam kız öğrenci sayısı, toplam erkek öğrenci sayısından
                fazladır. <br> *Okulda toplam 98 öğrenci gözlüklüdür. <br> *Cumhuriyet İlkokulunun mevcudu 637‘dir. <br> <br>
            </p>
            <p class="not">Bu ünitemizde Basit,Bileşik ve Tam Sayılar ,Sütun Grafiği konuları detaylı bir şekilde öğrendik artık <i>soru çözüm</i> sayfasına geçerek öğrendiklerimizi pekiştirelim.</p> <br> <br>
            <div class="btn">
                <a href="../components/matUnit2.html">2.üniteye dönmek için tıklayınız.</a>
                <a href="../components/mathSorular.html">Soru çözmek için tıklayınız.</a>
            </div>
        </div>
        <a id='yukari_buton'><span class="material-symbols-outlined">
            arrow_upward
            </span></a>
    </div>

    <script src="./math1.js"></script>
</body>

</html>